<?xml version="1.0" encoding="utf-8" ?>
<objects xmlns="http://www.springframework.net">
  <import resource="command.xml" />
  <import resource="data.xml"/>
  <import resource="logic.xml"/>

  <object id="MainViewModel" type="Emulator.ViewModel.MainViewModel, Emulator" singleton="true" init-method="OnInit">
    <constructor-arg name="dataProvider" ref="IDataProvider"/>
    <property name="ResetCommand" ref="ResetCommand"/>
    <property name="ApplyFilterCommand" ref="ApplyFilterCommand"/>
    <property name="ExitechDeviceViewModel" ref="ExitechDeviceViewModel"/>
    <property name="HannaDeviceViewModel" ref="HannaDeviceViewModel"/>
  </object>
  
  <object id="ExitechDeviceViewModel" type="Emulator.ViewModel.ExitechDeviceViewModel, Emulator" singleton="true" init-method="OnInit">
    <property name="ExitechModeHoldButtonCommand" ref="ExitechModeHoldButtonCommand"/>
    <property name="ExitechCallRecallButtonCommand" ref="ExitechCallRecallButtonCommand"/>
    <property name="ExitechOnOffButtonCommand" ref="ExitechOnOffButtonCommand"/>
    <property name="ExitechStateMachine" ref="ExitechStateMachine" />
    <property name="DataProvider" ref="IDataProvider" />
  </object>

  <object id="HannaDeviceViewModel" type="Emulator.ViewModel.HannaDeviceViewModel, Emulator" singleton="true" init-method="OnInit">
    <property name="HannaOnModeButtonCommand" ref="HannaOnModeButtonCommand"/>
    <property name="HannaSetHoldButtonCommand" ref="HannaSetHoldButtonCommand"/>
    <property name="HannaStateMachine" ref="HannaStateMachine" />
  </object>
</objects>